# -------------------------------------------------------------------------- #
#                            chipshouter-profiler                            #
# -------------------------------------------------------------------------- #
tenacity
timeout_decorator
chipshouter
chipwhisperer

# visualize.py
matplotlib
numpy

